
@font-face {
    font-family: 'ApercuMedium';
    src: local('Apercu'), url(../../public/assets/fonts/apercu/Apercu-Medium.otf) format('opentype');
  }
  
@font-face {
    font-family: 'ApercuLight';
    src: local('Apercu'), url(../../public/assets/fonts/apercu/Apercu-Light.otf) format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: 'ApercuMono';
  src: local('Apercu'), url(../../public/assets/fonts/apercu/Apercu-Mono.otf) format('opentype');
}

@font-face {
  font-family: 'ApercuBold';
  src: local('Apercu'), url(../../public/assets/fonts/apercu/Apercu-Bold.otf) format('opentype');
  font-weight: 600;
   font-style: normal;
}

@font-face {
  font-family: 'ApercuRegular';
  src: local('Apercu'), url(../../public/assets/fonts/apercu/Apercu-Regular.otf) format('opentype');
  font-weight: 400;
   font-style: normal;
}