.headerWrapper {
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
    color: #fff;
    
    & h1 {
        font-size: 28px;
        line-height: 60px;
        color: #FBF7F7;
    }
}

.purple {
    background-image: url('../../../public/assets/images/plum-aubergine.png');
    background-size: 150%;
}

.yellow {
    background-image: url('../../../public/assets/images/plum-aubergine.png');
    background-size: 150%;
}