@import '../../globals/base_variables.scss';

.tabBlock {
    background: #fff;
    height: 54px;
    border-bottom: 1px solid $gray;
}

.tabWrapper {
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: baseline;
    line-height: 54px;
    overflow: scroll;
    padding: 0 14px;
}

.tabItem {
    flex-shrink: 0;
    font-family: "ApercuLight";
    color: $primary;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    margin-right: 16px;
    cursor: pointer;

    &:last-child {
        padding-right: 14px;
    }

    &:hover {
        color: $secondary;
    }
}

.tabItemActive {
    font-family: "ApercuMedium";

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $secondary;
    }
}

.iconsWrapper {
    display: flex;
    height: 100%;
    margin: 0 30px;
    justify-content: space-evenly;
}

.iconItem {
    align-self: center;
    margin-right: 10%;
    vertical-align: text-bottom;
    height: 100%;
}

.truncated {
    overflow: visible;
}

.more {
    margin: 0 0 0 auto;
    padding: 0!important;

    &:hover {
        cursor: pointer;
    }
}

.moreDropdownWrapper {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border: solid 1px $gray;
    border-top: none;
    border-radius: 0 0 4px 4px;
    top: 50px;
    right: 0;
    z-index: 999;
    width: 180px;
    transition: all ease-in-out 0.10s;
    & ul {
        margin: 0;
        list-style: none;
        text-align: right;
    }
    & li {
        margin-right: 14px;
    
        &:hover {
            cursor: pointer;
            color: $secondary;
        }
    }
}

.moreActive {
    top: 54px;
    opacity: 1;
    visibility: visible;
}


.iconsWrapper a:last-of-type  {
    margin-right: 0;
}

.icon {
    display: block;
}

.selectWrapper {
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: baseline;
    line-height: 54px;
    padding: 12px 8px;
}

.selectBox {
    appearance: none;
    -webkit-appearance: none;
    border: solid 1px #e5dccc;
    font-family: "ApercuLight";
    font-size: 16px;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 30px;
    padding: 0 8px;
    margin: 0 24px;
    border-radius: 4px;
    background-color: #fff;
    background: url('../../../public/assets/images/select-arrow.png') no-repeat right 10px top 11px;
    background-size: 12px;
}