@import '../../globals/base_variables.scss';

.box {
    background-color: $background;
    font-family: "ApercuLight", "Arial";
    margin: 0 auto;
    padding: 16px;
    max-width: 80%;
    background-color: #fff;
    border: solid 1px #ccc;
    height: 100%;
}

h1 {
    font-family: "ApercuMedium", "Arial";
}