@import '../../globals/base_variables.scss';

body, html {
    font-family: "ApercuLight", "Arial";
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: $background;
}

.layout {
    min-height: 100%;
    width: 100%;
}

.box {
    font-family: "ApercuLight", "Arial";
    margin: 0 auto;
    padding: 16px 36px;
}

h1 {
    font-family: "ApercuMedium", "Arial";
    font-size: 28px;
}

h2 {
    font-family: "ApercuMedium", "Arial";
    font-size: 22px;
    margin-bottom: 8px;
}