@import "../globals/base_variables";

.selectorUl {
  display: grid;
  padding: 0;
  grid-template-columns: auto;

    li {
        margin: 0 0 20px 0;
        list-style: none;
        display: block;
    }
}

.proTypeItem {
  font-weight: 200;
  display: block;
  text-align: center;
  padding: 18px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 0 0 $gray;

    &:hover {
        font-weight: 600;
        cursor: pointer;
        color: $secondary;
    }
}

.proTypeItemActive {
  font-family: "ApercuMedium";
  box-shadow: 0 4px 0 0 $secondary;
}

.subtext {
  display: block;
  font-family: "ApercuLight";
  margin-bottom: 26px;
}