.selectorUl {
  display: grid;
  grid-template-columns: auto;
  padding-inline-start: 0;
}

.selectorUl li {
  margin: 0 0 20px 0;
  list-style: none;
  display: block;
}

.proTypeItem {
  font-weight: 200;
  display: block;
  text-align: center;
  padding: 18px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 0 0 #e5dccc;
}

.proTypeItem:hover {
  font-weight: 600;
  cursor: pointer;
  color: #ffc973;
}

.proTypeItemActive {
  font-family: "ApercuMedium";
  box-shadow: 0 4px 0 0 #ffc973;
}

.subtext {
  display: block;
  font-family: "ApercuLight";
  margin-bottom: 26px;
}